# Dependencies
node_modules/
next-frontend/node_modules/
next-frontend/.next/
frontend/node_modules/

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env

# Environment and logs
*.log
.DS_Store
*.db-shm
*.db-wal

# R workspace files
.RDataTmp
.Rhistory
.Rproj.user/
~$*.pptx
